html { overflow-y:scroll; }
body { padding-top:50px; }
textarea {
	resize: none;
}

.margin20 {
	margin: 20px;
}

.separator {
	margin: 40px;
    border-top-style: solid;
    border-color: cadetblue;
    border-top-width: 1px;
}

.limitPicture {
	height: 250px;
}

.margin5 {
	margin: 5px !important;
}

.marginR15 {
	margin-right: 15px !important;
}

.marginR5 {
	margin-right: 5px !important;
}

.marginT15 {
	margin-top: 15px !important;
}

.marginT35 {
	margin-top: 35px !important;
}

.marginL65 {
	margin-left: 65px !important;
}

.marginB15 {
	margin-bottom: 15px !important;
}

.checkboxList {
    border:1px solid #000;
    background-color:#fff; 
    color:#000;
    height: 200px; 
    overflow-y: scroll;
}

.excelMargin {
	margin: 10px;
    margin-bottom: 20px;
}

.textExcel {
	text-align: center;
    font-size: large;
}

.sizeUp {
	font-size: larger;
}

.arangeItem {
	float: left;
    width: 40%;
    margin-left: 10%;
}

.textCenter {
    text-align: center;
}

#footerplace {
	height: 100px;
}
