
textarea {
	resize: none;
}
.margin20 {
	margin: 20px;
}

.marginR15 {
	margin-right: 15px !important;
}

.marginT15 {
	margin-top: 15px !important;
}

.checkboxList {
    border:1px solid #000;
    background-color:#fff; 
    color:#000;
    height: 100px; 
    overflow-y: scroll;
}

