<div ng-controller="SpredController" class="container">

  <!-- HEADER AND TODO COUNT -->
  <div class="jumbotron text-center">
      <h1>{{title}}<img class="marginL65" src="spred.png"></h1>
  </div>
  <form ng-submit="send()" name="myForm">
  <div class="row">
    <div ng-show="data && data.dest"> 
      <div class="col-md-4">
        <div class="text-center">
          <label class="marginR15">DESTINATAIRE</label><input ng-model="searchUser">
        </div>
        <div class="margin20">
          <div id="teamCheckboxList" class="checkboxList">
            <div ng-repeat="user in data.dest | filter: searchUser">
              <label>
                <input class="margin5" type="checkbox" ng-model="user.isChecked" />
                <span>{{user.name | uppercase}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="data && data.filter">
      <div ng-repeat="filter in data.filter">
        <div class="col-md-4">
          <div class="text-center">
            <label class="marginR15">{{filter.name | uppercase}}</label>
          </div>
          <div class="margin20">
            <div id="teamCheckboxList" class="checkboxList">
              <div ng-repeat="data in filter.data">
                <label>
                  <input class="margin5" type="checkbox" ng-model="data.isChecked" ng-change="selectUserList(data, filter)"/>
                  <span>{{data.name | uppercase}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row marginT15">
        <div class="col-md-12">
          <label class="marginR15">Nom d'expéditeur:</label>
          <input type="text" placeholder="Nom d'expéditeur" name="" ng-model="expeditor"></input>
        </div>
        <div class="col-md-12 marginT15">
          <label>Caractères restant: {{ 1 + validLength - dataTextarea.length }}</label>
          <textarea placeholder="Votre message" wm-block wm-block-length="validLength" ng-model="$parent.dataTextarea" class="form-control" rows="5" id="comment" required></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="row marginT15">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary btn-lg">Envoyer le message</button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Importer un excel</button>
      </div>
      <div class="col-md-2">
        <button ng-click="delete()" type="button" class="btn btn-danger btn-lg">Supprimer data</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Confirmer l'envoi de {{ dataCount.length}} message(s).
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" ng-click="confirmSend()">Envoyer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Importer excel</h4>
        </div>
        <div class="modal-body">
          <div ng-show="showUpload" class="excelMargin">
            <p>Sélectionner un fichier .xls, .xlsx, .ods</p>
            <input id="inputExcell" type="file" accept=".xls,.xlsx,.ods" multiple="false" />
          </div>
          <div ng-show="showUpload == false">
            <div ng-show="showPage() == 1">
              <div class="row">
                <div class="col-md-12">
                  <p class="textExcel">Selectionner la/les colonne(s) référence(s) pour <b class="sizeUp">destinataire</b></p>
                  <div class="marginT15 marginB15">
                    <div ng-repeat="type in modalDest">
                      <div ng-show="type.nameColum != 'isChecked'">
                        <label class="arangeItem">
                          <input class="marginR5" ng-change="changeRenduType()" type="checkbox" ng-model="type.isChecked"/>
                          <span>{{type.nameColum}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="renduType">
                  <div class="col-md-12">
                    <div class="marginT15 textCenter">
                      <p>Exemple de rendu</p>
                      <p><b class="sizeUp">{{renduType}}</b></p>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div ng-show="showPage() == 2">
              <div class="row">
                <div class="col-md-12">
                  <p class="textExcel">Selectionnez la/les colonne(s) reference(s) pour les <b class="sizeUp">filtres</b></p>
                  <div class="marginT15 marginB15">
                    <div ng-repeat="type in modalFilter">
                      <div ng-show="type.nameColum != 'isChecked'">
                        <label class="arangeItem">
                          <input class="marginR5" type="checkbox" ng-model="type.isChecked"/>
                          <span>{{type.nameColum}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="showPage() == 3">
              <div class="row">
                <div class="col-md-12">
                  <p class="textExcel">Selectionnez la colonne pour le numéro de <b class="sizeUp">mobile</b></p>
                  <div class="marginT15 marginB15">
                    <div ng-repeat="type in modalNumber">
                      <div ng-show="type.nameColum != 'isChecked'">
                        <label class="arangeItem">
                          <input class="marginR5" type="checkbox" ng-model="type.isChecked"/>
                          <span>{{type.nameColum}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="textCenter" ng-show="showUpload == false">
            <ul items-per-page="1" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
          </div>
          <div class="modal-footer">
            <button ng-click="modalClose()" type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
            <button ng-click="modalSave()" type="button" class="btn btn-primary" data-dismiss="modal">Confirmer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footerplace"></div>
</div>